[submodule "TLSphnix"]
	path = TLSphnix
	url = git@github.com:salisbbn/TLSphinx.git
[submodule "TLSphinx"]
	path = TLSphinx
[submodule "Submodules/TLSphinx"]
	path = Submodules/TLSphinx
	url = git@github.com:salisbbn/TLSphinx.git
